.about {
    text-align: center;
    padding: 80px 20px;
  }
  
  .about h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .about p {
    font-size: 1.4rem;
    max-width: 700px;
    margin: auto;
    color: #ccc;
  }
  